body {
	background-color: black;
	margin: 0px;
	padding: 0px;
	z-index: -1;
}
@keyframes zoomout {
	30% {cx:1200;}
	90% {r:1800;}
	100% {display:none;}
}
@keyframes centerin {
	100% {cx:1100;}
}

#main img{
	height: 90%;
	width: 90%;
	margin: auto;
}

.animate{
	animation-name: zoomout;
	animation-duration: 3s;
}

.animateback{
	animation-name: zoomout;
	animation-duration: 3s;
	animation-direction: reverse;
}

.button {
    background-color: #F4D100;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    z-index: 1;
    font-size: 16px;
}
.st0{
	fill:none;stroke:#F4D100;stroke-width:35;stroke-miterlimit:10;
}

.st1{
	fill:none;stroke:#E9447E;stroke-width:35;stroke-miterlimit:10;
}

.st2{
	fill:none;stroke:#53C3EF;stroke-width:20;stroke-miterlimit:10;
}

.st3{
	fill:none;stroke:#E9447E;stroke-width:50;stroke-miterlimit:10;
}


svg{
	display: block;
	margin: auto;
}

#outyellow, #outcyan, #outpink {
	outline: 10px yellow;
}

@keyframes opacityslide{
	0% {opacity:1;}
	100%{opacity:0;}
}

.animatereverse{
	animation-name: opacityslide;
	animation-duration: 1s;
}

.outyellow {
	margin: 0px;
	padding: 0px;
	border: 5px solid #F4D100;
	animation-name: opacityslide;
	animation-duration:1s;
}

.outcyan {
	margin: 0px;
	padding: 0px;
	border: 5px solid #53C3EF;
	animation-name: opacityslide;
	animation-duration:1s;
}

.outpink {
	margin: 0px;
	padding: 0px;
	border: 5px solid #E9447E;
	animation-name: opacityslide;
	animation-duration:1s;
}

.hiddenbutton{
	display: none;
}
